<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <meta name="Robots" content="index,follow">
    <link rel="shortcut icon" href="/static/img/favicon.png">
    <link rel="apple-touch-icon" href="/static/img/favicon.png">
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <title>Python Flask Init</title>
</head>
<body>
	<header></header>
	<main>   
		<p>Python Flask Init</p>
	</main>
	<footer></footer>
</body>
</html>
