<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="Subject" content="Python Flask Init">
    <meta name="Keywords" content="Python Flask Init">
    <meta name="Description" content="Python Flask Init">
    <meta name="Robots" content="index,follow">
    <link rel="shortcut icon" href="/static/img/favicon.png">
    <link rel="apple-touch-icon" href="/static/img/favicon.png">
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/class.css">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <title>Python Flask Init</title>
</head>
<body>

    <!--header-->
    <header>
        <h1 class="blind">Python Flask Init Header</h1>
    </header>
    <!--/header-->

    <!--.main-->
    <div class="main">
        <main>
            <h1 class="blind">Python Flask Init Main</h1>
            <p>Python Flask Init</p>
        </main>
    </div>
    <!--/.main-->

    <!--footer-->
    <footer>
        <h1 class="blind">Python Flask Init Footer</h1>
    </footer>
    <!--/footer-->

    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/js/index.js"></script>
    <!--[if lte IE 8]>
    <script src="/static/js/html5shiv.min.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <[end if]-->
    <!-- /js -->
</body>
</html>
